Lab1/main.aux
Lab1/main.bbl
Lab1/main.bcf
Lab1/main.blg
Lab1/main.fdb_latexmk
Lab1/main.fls
Lab1/main.log
Lab1/main.out
Lab1/main.pdf
Lab1/main.run.xml
Lab1/main.synctex.gz
Lab1/main.toc
Lab1/main.synctex(busy)
.vscode/
.venv/